# Configure npm to avoid permission issues with cache
cache=./.npm-cache
# Avoid permission issues by not using sudo
unsafe-perm=true
# Set the log level to verbose to see more details about any issues
loglevel=verbose
